<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <img src="<%= user.profilePic %>" alt="Profile Picture" class="rounded-circle img-fluid profile-pic mb-3">
                <h1><%= user.name %> <%= user.lastName %></h1>
            </div>
        </div>
    </div>

</body>
</html>
